@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "Strem";
  src: url("./fonts/Stem-Medium.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Strem", sans-serif;
  font-style: normal;
}

input {
  font-family: "Gilroy", sans-serif;
  outline: none;
}

button {
  font-family: "Gilroy", sans-serif;
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.new_wrapper {
  overflow: visible !important;
}

.main_container {
  max-width: 1160px;
  padding: 0 25px;
  margin: 0 auto;
}

.action_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 254px 0;
  background-image: url(./images/home_bg.png);
  background-size: cover;
  background-position: -80px 0;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding-top: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-right: 165px;
}
.action h5 {
  max-width: 286px;
  color: rgb(0, 0, 0);
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.action p {
  max-width: 286px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 24px;
}
.action .action_down {
  display: flex;
  gap: 8px;
}
.action .action_down p {
  color: rgb(0, 211, 226);
  font-family: "gilroy", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.action .action_down span {
  color: rgba(0, 0, 0, 0.7);
  font-family: "gilroy", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: line-through;
}
.action .action_bottom {
  padding-bottom: 32px;
}
.action .action_bottom a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 6px;
  background: rgb(0, 211, 226);
  padding: 8px 110px;
}

header {
  padding: 28px 0;
}
header .main_container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
header .nav_link {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 177px;
}
header .nav_link li {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
header .menu {
  display: none;
}
header .menu .media_link {
  display: flex;
  flex-direction: column;
}
header .header_right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4px;
}
header .header_right span {
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
header .header_right a {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

#home {
  background-image: url(./images/home_bg.png);
  background-size: cover;
  background-position: -80px 0;
}
#home .main_container {
  padding: 173px 235px 0 235px;
}
#home .home_text_top {
  padding-bottom: 40px;
}
#home .home_text_top h1 {
  max-width: 920px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
}
#home .home_text_top p {
  padding-top: 24px;
  max-width: 920px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}
#home .bottom_item_up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
#home .bottom_item_up img {
  padding: 18px 20px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.2);
}
#home .bottom_item_up .up_item h6 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 6px;
}
#home .bottom_item_up .up_item span {
  max-width: 303px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
#home .bottom_item_down {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
}
#home .bottom_item_down a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 6px;
  background: rgb(0, 211, 226);
  padding: 20px 32px;
}
#home .home_down_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 77px;
  padding-bottom: 16px;
}
#home .home_down_icon a {
  padding: 31px 19px;
  transition: 0.3s ease;
}
#home .home_down_icon a:hover {
  transform: translateY(10px);
}

#text {
  padding: 100px 0;
}
#text .main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#text .main_container span {
  color: rgb(0, 211, 226);
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
#text .main_container h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 16px;
  max-width: 730px;
  font-family: "Gilroy", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}
#text .main_container p {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding-top: 16px;
  max-width: 730px;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
#text .main_container a {
  padding: 20px 32px;
  margin-top: 22px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  background: rgb(0, 211, 226);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

#percentile {
  padding: 84px 0;
}
#percentile .main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
#percentile .main_container .percentile_item {
  width: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#percentile .main_container .percentile_item img {
  padding: 25px 24px;
  border-radius: 50%;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}
#percentile .main_container .percentile_item h6 {
  color: rgb(0, 0, 0);
  padding-top: 32px;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
}
#percentile .main_container .percentile_item span {
  color: rgba(0, 0, 0, 0.4);
  padding-top: 16px;
  max-width: 260px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

#cards {
  background: rgb(247, 248, 250);
  padding: 120px 0;
}
#cards .card_title {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding-bottom: 64px;
}
#cards .card_title h3 {
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
}
#cards .card_title p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}
#cards .main_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
#cards .card {
  position: relative;
}
#cards .card_text {
  position: absolute;
  z-index: 2;
  bottom: 32px;
  left: 32px;
  right: 32px;
  text-align: center;
}
#cards .card_text h6 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
}
#cards .card_text span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}

#slider .swiper {
  width: 100%;
  height: 100%;
}
#slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#accounts {
  margin: 120px 0;
}
#accounts .main_container {
  padding: 0 12px;
}
#accounts .account_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 64px;
}
#accounts .account_title span {
  color: rgb(0, 211, 226);
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
}
#accounts .account_title h4 {
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  padding: 24px 0;
}
#accounts .account_title p {
  color: rgba(0, 0, 0, 0.7);
  max-width: 720px;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}
#accounts .account_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#accounts .account_wrapper .account {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#accounts .account_wrapper .account h6 {
  color: rgb(0, 0, 0);
  padding-top: 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}
#accounts .account_wrapper .account p {
  color: rgba(0, 0, 0, 0.7);
  padding-top: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

#forms {
  background-image: url(./images/form.png);
  background-size: cover;
  padding: 100px 0;
}
#forms form {
  display: flex;
  justify-content: center;
}
#forms .main_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
#forms .form_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 40px;
}
#forms .form_title h5 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}
#forms .form_title span {
  color: rgba(255, 255, 255, 0.8);
  max-width: 540px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
#forms .form_inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
}
#forms .form_inputs input {
  box-sizing: border-box;
  width: 540px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: rgb(255, 255, 255);
  padding: 16px 20px;
}
#forms .form_inputs input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
#forms .form_inputs input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
#forms .form_choose {
  max-width: 540px;
}
#forms .form_choose p {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
#forms .choose_inputs {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}
#forms .choose_inputs .choose_item label {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
#forms .choose_inputs .choose_item input {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  background: rgb(0, 211, 226);
  padding: 8px;
}
#forms .form_btn {
  padding-top: 48px;
}
#forms .form_btn button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 6px;
  background: rgb(0, 211, 226);
  padding: 16px 198px;
}
#forms .form_btn p {
  color: rgba(0, 0, 0, 0.4);
  max-width: 540px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding-top: 24px;
}

#maps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 211, 226);
}
#maps .map_text {
  background: rgb(0, 211, 226);
  display: flex;
  justify-content: center;
  padding: 121px 0;
  width: 50%;
}
#maps .map_mail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 17px;
}
#maps .map_mail h6 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 700;
  line-height: 110%;
  padding-bottom: 17px;
}
#maps .map_mail li {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

footer {
  margin: 80px 0;
}
footer .icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer .icons img {
  padding: 16px;
  background: rgb(0, 211, 226);
  border-radius: 50%;
}
footer .footer_link {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}
footer .footer_link .footer_item {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
footer span {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

@media only screen and (max-width: 750px) {
  header .main_container {
    padding: 0 25px;
  }
  header .nav_link {
    display: none;
  }
  header .menu {
    display: block;
    overflow: hidden;
    height: 45px;
    transition: 0.3s ease;
  }
  header .menu:hover {
    height: 100%;
  }
  header .menu img {
    width: 80px;
    margin-left: 50px;
  }
  header .menu .media_link {
    margin: 0;
  }
  #cards .card_title {
    padding: 0 25px;
    padding-bottom: 30px;
  }
  #cards .card_title p {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */